<h2> <%= @track[:title] %> created by <%= @track[:creator] %></h2>

<div class="container">
  <br>
    <div id="artists" class="row list-group">
          <div class="item  col-xs-4 col-lg-4">
              <div class="thumbnail">
                  <div class="caption">
                      <h4 class="group inner list-group-item-heading">
                      </h4>
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/tTeXBTStek0" frameborder="0" allowfullscreen></iframe>
                  </div>
              </div>
          </div>
    </div>
</div>
